/* https://www.figma.com/community/file/1105403402122144106/Flux---Figma-Build-Tutorial-(Starter) */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #111444;
  --secondary-color: #fff;
  --tertiary-color: #d9d9d9;
  --neon-dream: #aad9d9;
}
.dark-theme {
  --primary-color: #f2f2f2;
  --secondary-color: #000;
  --tertiary-color: #2e2b2bae;
  --neon-dream: #306b6b;
}
body {
  background: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: hidden;
}
.main-container {
  width: 80%;
  margin-left: 10%;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  column-gap: 200px;
}
.logo {
  color: var(--secondary-color);
}
.logo img {
  width: 180px;
}
#icon {
  font-size: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first {
  height: 92vh;
  width: 100%;
}
.links li {
  list-style-type: none;
  padding: 10px 20px;
  z-index: 100;
}
.links li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 17px;
}
.links li:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.circle {
  height: 730px;
  width: 525px;
  background-color: #79beb2;
  border-radius: 50%;
  filter: blur(190px);
  position: absolute;
  top: 100px;
  right: -500px;
}
.elipse {
  height: 525px;
  width: 525px;
  border-radius: 50%;
  background: linear-gradient(#8b8bda, #fff);
  filter: blur(190px);
  position: absolute;
  top: -450px;
  left: 450px;
}
.first .container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 120px;
}

.container .box {
  height: 500px;
  width: 550px;
  background-image: url("./assets/imac.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.desc {
  height: 200px;
  width: 375px;
  position: relative;
  top: 50px;
}
.desc h1 {
  font-size: 60px;
  line-height: 60px;
}
.desc .info {
  margin-top: 50px;
  font-size: 15px;
  color: var(--secondary-color);
}
.buttons {
  margin-top: 30px;
  width: 400px;
  border: none;
}
.buttons button {
  border-radius: 26px;
  padding: 20px;
  height: 60px;
  width: 190px;
  font-weight: 700;
  font-size: 15px;
}
.buttons .one {
  background: #8c8cda;
  color: var(--secondary-color);
  border: none;
}
.buttons .one:hover {
  background: #b1b1ff;
}
.buttons .two {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid #8c8cda;
}
.buttons .two:hover {
  border: 1px solid #b1b1ff;
}
.second {
  width: 100%;
  height: 90vh;
}
.circle1 {
  height: 720px;
  width: 525px;
  background-color: #79beb2;
  border-radius: 50%;
  filter: blur(200px);
  position: absolute;
  top: 980px;
  right: -600px;
}
.second .box {
  width: 100%;
  height: 170px;
}
.box .contain {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contain img {
  width: 100%;
  height: 100%;
}
.contain .image1 {
  width: 190px;
  height: 65px;
}
.contain .image2 {
  width: 180px;
  height: 25px;
}
.contain .image3 {
  width: 71px;
  height: 34px;
}
.contain .image4 {
  width: 121px;
  height: 28px;
}
.contained {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin: 3rem 0;
}
.box_one {
  margin: 10rem 0;
}
.last {
  margin-top: -12.2rem;
}
.box1 {
  height: 500px;
  width: 500px;
  background-image: url("./assets/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contained .frame {
  height: 200px;
  width: 560px;
}
.frame .rectangle {
  margin-top: -90px;
  width: 100%;
  height: 350px;
}
.rectangle h1 {
  margin-top: 10px;
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 10px;
}
.rectangle .info {
  margin-top: 10px;
  color: var(--secondary-color);
}
.rectangle .neon {
  color: var(--neon-dream);
  font-weight: 600;
}
.rectangle .btn {
  height: 70px;
  width: 272px;
  background: #8c8cda;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
  border-radius: 25px;
}
.rectangle .btn:hover {
  background: #b1b1ff;
}

.mark {
  height: 431px;
  width: 372px;
  background-image: url("./assets/mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery {
  height: 411px;
  width: 350px;
  background-image: url("./assets/shelf.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -13rem;
  margin-bottom: 5rem;
}
.testimonial .test {
  text-align: center;
}
.test p {
  color: #79beb2;
}
.review {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
}
.review img {
  height: 120px;
  width: 117px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  filter: grayscale(10);
}
.review .rew {
  text-align: center;
  background: rgba(91, 91, 92, 0.273);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 5px 15px #000000ad;
  transition: 0.5s ease;
}
.review .rew:hover {
  transform: translateY(-10px);
}
.review .name {
  text-transform: uppercase;
  color: #79beb2;
  padding: 20px 0;
}
.review .detail {
  font-size: 15px;
}
.main-box {
  height: 385px;
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #d1d3ff, #2e2862);
  border-radius: 50px;
  padding-top: 40px;
}
.main-box p {
  color: #111444;
  font-size: 15px;
  font-weight: 500;
}
.main-box h1 {
  padding: 20px 0;
  color: var(--secondary-color);
  font-size: 65px;
  line-height: 65px;
}
.main-box button {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 26px;
  height: 66px;
  width: 240px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
  border: none;
}
.main-box button:hover {
  background: #111444d7;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

footer p {
  color: var(--secondary-color);
}
footer ul li {
  list-style-type: none;
  font-size: 13px;
  text-align: start;
  line-height: 31px;
  color: var(--secondary-color);
}
footer .top {
  text-align: start;
  padding-bottom: 15px;
}
footer .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -40px;
}
footer .form h1 {
  font-size: 22px;
  text-align: left;
}
.form .input {
  margin-top: -20px;
  width: 345px;
  height: 38px;
}
.input input {
  background: #2e2862;
  height: 38px;
  width: 345px;
  border-radius: 13px;
  padding: 0 30px;
  border: none;
  font-size: 16px;
  color: var(--secondary-color);
}
.input .sub {
  height: 38px;
  width: 90px;
  background: #454c81;
  border: none;
  border-radius: 13px;
  padding: 10px;
  position: relative;
  top: -58px;
  left: 128px;
  text-align: center;
}
.input .sub:hover {
  background: #454c81df;
}
